@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$bg-color: rgb(14, 14, 14);
$text-color: #f5deb3;
$side-padding: 0px 5%;
$letter-spacing: 1.2px;
$border-color: #343330;

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: $bg-color;
  color: $text-color;
}

html {
  font-size: clamp(16px, 1vw, 20px);
}
a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: $text-color;
  text-decoration: none;
  opacity: 0.9;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  img {
    transform: rotate(-120deg);
    background-color: #343330;
  }
}
p {
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1.3px;
  font-size: 1rem;
  margin-top: 0.8rem;
  opacity: 0.8;
}
h3 {
  font-size: 3rem;
  font-weight: 300;
}
h4 {
  font-weight: 400;
  opacity: 0.9;
}
.hero-section {
  width: 100%;
  padding: $side-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  img {
    width: 65%;
    margin-top: 50px;
    object-fit: cover;
  }

  h1 {
    font-size: 3rem;
    font-weight: 200;
    text-align: center;
    line-height: 1.1;
  }

  p {
    font-size: 1rem;
    opacity: 0.7;
    line-height: 1.4;
    letter-spacing: $letter-spacing;
    text-align: center;
    font-weight: 200;
    padding-top: 15px;
    br {
      display: none;
    }
  }
}

.services-tag {
  padding: $side-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 50px auto;
  width: fit-content;
  cursor: pointer;

  p {
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    opacity: 0.7;
  }
}
.arrow {
  height: 30px;
  border: 0.1px solid $text-color;
  padding: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.marquee-section {
  width: 100%;
  display: flex;
  justify-content: center;

  .marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    &::after {
      content: "";
      width: 20%;
      height: 100%;
      background-image: linear-gradient(to right, $bg-color, transparent);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    &::before {
      content: "";
      width: 20%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: linear-gradient(to right, transparent, $bg-color);
      z-index: 10;
    }
    .text {
      display: flex;
      gap: 3rem;
      padding: 0 1.5rem;
      animation: marquee 10s linear infinite both;

      p {
        font-size: 1rem;
        letter-spacing: 1.8px;
        font-weight: 200;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.services-section {
  padding: $side-padding;
  width: 100%;
  margin: 5rem 0;
  display: grid;
  gap: 2rem;

  .service-card {
    padding: 2rem;
    border: 0.5px solid $border-color;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    background-color: hsl(30, 4%, 9%);
  }
  .count {
    opacity: 0.5;
  }
  .service-label {
    font-weight: 300;
  }
  a {
    margin-top: 1.7rem;
  }
}

.works-section {
  padding: $side-padding;
  width: 100%;
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    h2 {
      font-weight: 300;
      font-size: 2.5rem;
    }
  }
  .work-items {
    display: grid;
    gap: 2rem;
  }
  .work-item {
    background-size: cover;
    background-position: center;
    aspect-ratio: 2/1.5;
    border: 0.1px solid $border-color;
    border-radius: 1px;
    position: relative;
    .work-info {
      position: absolute;
      bottom: 5%;
      left: 0;
      transform: translate(5%, 0%);
      background-color: hsla(0, 0%, 89%, 0);
      width: 90%;
      line-height: 3.5rem;
      display: flex;
      justify-content: space-between;
      -webkit-backdrop-filter: blur(100%);
      backdrop-filter: blur(10px);
      border: 0.5px solid $border-color;
      padding: 0px 2rem;
      border-radius: 1px;
    }
  }
  .space,
  .solar {
    background-image: url(../assets/laptop.jpg);
  }
  .nova,
  .sonic {
    background-image: url(../assets/mobile.jpg);
  }
}

.process-section {
  padding: $side-padding;
  margin: 5rem 0;
  .process-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.testimonial-section {
  text-align: center;
  padding: $side-padding;
  margin: 5rem 0;
  .heading {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    p {
      br {
        display: none;
      }
    }
  }

  .testimonial-items {
    margin: 2rem 0;
    text-align: left;
    display: grid;
    gap: 2.5rem;
    .testimonial-card {
      border: 0.5px solid $border-color;
      padding: 2rem;
      background-color: hsl(30, 4%, 9%);
      border-radius: 1px;
      .logo {
        margin-bottom: 1rem;
      }
      .label {
        font-weight: 300;
      }
      .intru {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          object-fit: cover;
        }
        .name {
          line-height: 1.5;
          .company {
            font-weight: 100;
          }
        }
      }
    }
  }
}

footer {
  padding: $side-padding;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h2 {
    margin-top: 1rem;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  p {
    br {
      display: none;
    }
  }
  button {
    background-color: $text-color;
    color: $bg-color;
    text-transform: uppercase;
    width: fit-content;
    padding: 0.7rem 1rem;
    text-align: center;
    border: none;
    letter-spacing: 1.9px;
    margin: 0 auto;
  }
  .copy-rights {
    font-size: 0.9rem;
    opacity: 0.7;
  }
}

@media (min-width: 1020px) {
  h3 {
    font-size: 4rem;
  }
  .hero-section {
    img {
      width: 34%;
    }
    h1 {
      font-size: 8rem;
    }
    p {
      font-size: 1.5rem;
    }
  }

  .marquee-section {
    .marquee {
      width: 50%;
      &::after {
        content: "";
        width: 20%;
      }
      &::before {
        width: 20%;
      }
    }
  }

  .services-section {
    grid-template-columns: repeat(3, 1fr);
  }

  .works-section {
    .heading {
      flex-direction: row;
      justify-content: space-between;
    }
    .work-items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .process-section {
    .process-heading {
      gap: 3.5rem;
     
      p {
        font-size: 1.2rem;
      }
    }
  }

  .testimonial-section {
    .heading {
      p {
        br {
          display: block;
        }
      }
    }
    .testimonial-items {
      padding: 0px 3%;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  footer {
    h2 {
      font-size: 7rem;
    }
    p {
      font-size: 1.4rem;
      line-height: 1.4;
      br {
        display: block;
      }
    }
  }
}
