@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #111;
  background-color: #fff;
}
html {
  font-size: clamp(16px, 1vw, 20px);
}

main {
  margin-top: 3rem;
}

h2 {
  font-size: 2rem;
}
.hero-section,
.top-destination,
.latest-story,
.t-highlights,
.subscribe-content,
footer {
  padding: 0 1.2rem;
}
// Hero Section
.hero-section {
  display: grid;
  gap: 2rem;
  .top-section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    h1 {
      font-size: 2rem;
      line-height: 1.2;
      span {
        opacity: 0.6;
      }
    }
    p {
      font-size: 1.1rem;
      line-height: 1.4;
    }
    button {
      background-color: #111;
      color: #fff;
      padding: 0.9rem 1.6rem;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 1.5px;
      width: fit-content;
      border-radius: 2rem;
    }
  }
  .bottom-section {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "a a b b"
      "a a b b"
      "a a b b"
      "a a b b"
      "a a b b"
      "a a b b"
      "a a c c"
      "a a c c";

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    .image-1 {
      grid-area: a;
    }
    .image-2 {
      grid-area: b;
    }
    .image-3 {
      grid-area: c;
      aspect-ratio: 1/0.6;
    }
  }
}

// Top Destination
.top-destination {
  margin-top: 5rem;
  display: grid;
  gap: 1rem;
  .top-section {
    .places {
      line-height: 2;
      display: flex;
      gap: 1rem;

      p {
        opacity: 0.8;
        display: none;
      }
      button {
        border: none;
        background: none;
        padding: 0.3rem 0;
        font-size: 1.4rem;
        font-weight: 600;
        letter-spacing: 1.1px;
        width: fit-content;
        margin-top: 0.5rem;
      }
    }
  }
  .bottom-section {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    .image-cards {
      display: flex;
      gap: 1rem;
      .cards {
        width: 15rem;
        aspect-ratio: 1/1;
        flex-shrink: 0;
        scroll-snap-align: start;
        display: flex;
        flex-direction: column;
        img {
          object-fit: cover;
          aspect-ratio: 1/1.3;
          border-radius: 1rem;
        }
        .text {
          h3 {
            font-size: 1rem;
            font-weight: 600;
          }
          p {
            opacity: 0.8;
          }
        }
      }
    }
  }
}

// Latest Stories
.latest-story {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .top-section {
    button {
      display: none;
    }
  }
  .bottom-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .top-story {
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        object-fit: cover;
        margin-bottom: 1rem;
      }
      .content {
        h4 {
          font-size: 1.2rem;
        }
        p {
          font-size: 0.6rem;
          opacity: 0.8;
        }
        .text {
          margin-top: 0.5rem;
          opacity: 1;
          font-size: 0.85rem;
          line-height: 1.3;
        }
      }
    }
    .bottom-stories {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .story-card {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        img {
          width: 8rem;
          aspect-ratio: 1/1;
          flex-basis: 1;
          border-radius: 1rem;
          object-fit: cover;
        }
        .text {
          flex-basis: 2;
          h4 {
            font-size: 1.2rem;
          }
          p {
            font-size: 0.6rem;
            opacity: 0.8;
          }
        }
      }
    }
  }
  button {
    margin-top: 2rem;
    display: block;
    background: none;
    padding: 0.8rem 2rem;
    border: 0.5px solid gray;
    border-radius: 20rem;
  }
}

// Trekker's Highlights
.t-highlights {
  margin-top: 4rem;
  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .top-section {
      .user-info {
        display: flex;
        gap: 1rem;
        align-items: center;
        img {
          height: 3rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          border-radius: 50%;
        }
        .text {
          p {
            opacity: 0.8;
            font-size: 0.7rem;
          }
        }
      }
      .review {
        display: flex;
        flex-direction: column;
        .stars {
          display: flex;
          gap: 0.2rem;
          line-height: 2;
        }
        h4 {
          font-size: 0.9rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
    .bottom-section {
      display: flex;
      gap: 1rem;
      .right-img {
        img {
          max-height: 20rem;
          aspect-ratio: 1/1.5;
          border-radius: 1rem;
          object-fit: cover;
        }
      }
      .left-img {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
          img {
            max-height: 14rem;
            border-radius: 1rem;
            object-fit: cover;
            width: 100%;
          }
        }
        button {
          background: none;
          padding: 0.8rem 2rem;
          border: 0.5px solid gray;
          border-radius: 20rem;
          margin-bottom: 0.4rem;
        }
      }
    }
  }
}

// Subscribe
.subscribe {
  margin-top: 4rem;
  background-color: rgba(128, 128, 128, 0.881);
  width: 100%;
  max-height: 25rem;
  .subscribe-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    gap: 1rem;
    text-align: center;
    h2 {
      color: #fff;
    }
    form {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      #email {
        padding: 0.4rem 0.6rem;
        width: initial;
        border-radius: 1rem;
        border: none;
        width: 15rem;
        outline: none;
      }
      #btn {
        border: none;
        outline: none;
        background-color: rgb(74, 74, 74);
        color: #fff;
        padding: 0.4rem 0.6rem;
        border-radius: 1rem;
      }
    }
    p {
      font-size: 0.7rem;
      color: #fff;
    }
  }
}

// Footer
footer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .nav {
    display: grid;
    gap: 1rem;
    .menu {
      display: grid;
      gap: 1rem;
      p {
        font-size: 1rem;
        font-weight: 500;
      }
    }
  }
}

.copy {
  background-color: #111;
  color: #fff;
  text-align: center;
  line-height: 3rem;
  margin-top: 2rem;
}
// Responsive
@media (min-width: 1020px) {
  h2 {
    font-size: 3rem;
    line-height: 2;
  }
  .hero-section,
  .top-destination,
  .latest-story,
  .t-highlights,
  .subscribe-content,
  footer {
    padding: 0 3rem;
  }
  .hero-section {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    .top-section {
      width: 90%;
      align-items: center;
      gap: 0rem;
      h1 {
        font-size: 5rem;
      }
      p {
        font-size: 1.3rem;
      }
    }
    .bottom-section {
      width: 90%;
      grid-template-areas:
        ". . b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a c c"
        ". . c c";
      img {
        height: 100%;
        width: 100%;
        aspect-ratio: 1/1.1;
      }
    }
  }

  .top-destination {
    .top-section {
      .places {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          display: block;
        }
        button {
          margin: 0;
        }
      }
    }
  }

  .latest-story {
    width: 100%;
    .top-section {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      button {
        margin-top: 0;
        display: block;
        background: none;
        padding: 0.5rem 1rem;
        border: 0.5px solid gray;
        border-radius: 20rem;
      }
    }
    .bottom-section {
      flex-direction: row;
      .top-story {
        width: 50%;
        img {
          max-height: 18rem;
          aspect-ratio: 1/2;
        }
        .content {
          h4 {
            font-size: 2rem;
          }
        }
      }
      .bottom-stories {
        width: 50%;
        .story-card {
          .text {
            h4 {
              font-size: 1.4rem;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
    button {
      display: none;
    }
  }

  .t-highlights {
    .content {
      flex-direction: row;
      .top-section {
        width: 50%;
        .review {
          h4 {
            font-size: 1rem;
          }
          p {
            font-size: 1rem;
          }
        }
      }
      .bottom-section {
        justify-content: center;
        width: 50%;
        .right-img {
          img {
            height: 100%;
            width: 100%;
            aspect-ratio: 1/1.1;
          }
        }
        .left-img {
          img {
            height: 100%;
            width: 100%;
            aspect-ratio: 1/1.1;
          }
        }
      }
    }
  }
  .subscribe-content {
    h2 {
      line-height: 1.5;
    }
  }
  footer {
    flex-direction: row;
    .logo {
      width: 20%;
    }
    .nav {
      width: 80%;
      .menu {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
